<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # ROTEAMENTO PADRÃO DO REACT/VITE (SPA) 
  # Encaminha todo o tráfego que não é um arquivo físico para a home.
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
